.loading-screen {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  height: 100vh;
}

.loading-screen__title {
  margin: 100px 0;
  color: rgb(223, 43, 73);
}
